/* === GLOBAL STYLES === */

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
    font-size: 16px;
  }
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #fff8ed;
  height: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  max-width: 1200px;
  width: 90%;
}

h2 {
  font-family: "Euphoria Script", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: 3.5em;
  color: #487d7a;
  text-align: left;
  margin-left: 15px;
}

h3 {
  color: #9c3b07;
  font-size: 1.5em;
  font-weight: 600;
}

p {
  color: #8c6c41;
  font-size: 1em;
  font-weight: 400;
  text-align: left;
  line-height: 1.45em;
}

/* === HEADER STYLES === */

header {
  background: url(../img/leaves.png) no-repeat #77bcaff0;
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  padding-top: 0;
  padding-bottom: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 4px dashed #67a99e;
}

header .content-wrapper {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
}

#header-content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
}

header nav ul li {
  font-size: 0.9rem;
  color: #284f54;
  font-weight: 900;
  padding-top: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #284f54;
}

header nav #leaf {
  color: #284f54;
}

header nav #leaf:hover {
  color: #c5fffc;
}

header nav #ab:hover {
  color: #ffd9ea;
}

header nav #sk:hover {
  color: #ffddbd;
}

header nav #wk:hover {
  color: #fff8ed;
}

header nav #ct:hover {
  color: #d4f581;
}

header nav #re:hover {
  color: #e5e2e2;
}

header .banner {
  font-family: euphoria script, script;
  background: #284f545b;
  font-size: 1.75rem;
  font-weight: 600;
  color: #c5fffc;
  width: 100%;
  display: flex;
  margin-top: 5px;
  justify-content: center;
  padding: 280px 0;
  border-top: 15px double #72b9ad;
  border-bottom: 15px double #72b9ad;
}

header .banner i {
  font-size: 1.25rem;
  color: #aad247;
  margin: 12px 10px;
}

#hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  padding: 50px 0 75px 0;
}

#boots {
  max-width: 55%;
  transform: rotate(3deg);
  margin: 75px 0 15px 0;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
}

#boots:hover {
  transform: rotate(4deg);
}

h1 {
  font-family: "Euphoria Script", cursive;
  font-weight: 800;
  font-size: 2.15rem;
  line-height: 1.15em;
  color: #fffaf5;
  width: 95%;
  text-align: center;
  transform: rotate(-5deg);
  padding-top: 0;
  margin-left: 10px;
  margin-bottom: 0;
}

h1 i {
  font-size: 0.65em;
  color: #284f5493;
}

h1 #grow-span {
  color: #d4f581;
}

#butterworth-span {
  font-size: 0.5em;
  color: #284f5493;
  text-shadow: none;
  text-align: right;
}

/* === MAIN STYLES === */
/* --- About Section --- */

main {
  margin-top: 0;
}

#about {
  background: #fdfaf4;
  padding: 80px 0 100px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin-bottom: 0;
}

#about .content-wrapper {
  display: flex;
  justify-items: center;
  align-items: center;
}

#about-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#intro-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin-bottom: 55px;
}

#my-pic {
  border: 8px solid white;
  margin-bottom: 40px;
  width: 55%;
  transform: rotate(-4deg);
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
}

#my-pic:hover {
  transform: rotate(-5deg);
}

#about h2 {
  margin: 0;
  padding: 0;
  text-shadow: none;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "quicksand", sans-serif;
  color: #c5622b;
}

#web-dev {
  color: #7e445f;
  background-color: #ebccda;
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1.6em;
}

#about h3 {
  font-size: 1rem;
  color: #7e445f;
  font-weight: 400;
  line-height: 1.45em;
  margin-top: 20px;
}

#about h3 .growth-junkie {
  color: #596d00;
}

#tech-journey-wrapper {
  border: 2.5px dashed #efcdb2;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 0 25px;
}

#tech-journey-span {
  color: #c5622b;
  font-size: 1.5em;
  font-weight: 600;
}

#growth-mindset-span:hover {
  background: #e5f4b1;
}

/* --- Skills Section --- */

#skills {
  background: url(../img/light-texture.jpg) repeat #f3cdb5;
  background-size: cover;
  background-blend-mode: soft-light;
  margin-bottom: 0;
  padding: 70px 0 80px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

#skills .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  width: 100%;
}

#skills h2 {
  margin: 0 0 40px 20px;
}

#skills-wrapper,
#tech-stack-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
}

#skills-wrapper {
  margin-bottom: 20px;
}

#skills ul {
  font-size: 0.95em;
  font-weight: 600;
  padding: 15px 0;
  width: 60%;
  color: #8c6c41;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

#skills ul li {
  background-color: #fffaf1;
  margin-bottom: 12px;
  width: 100%;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 3px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* --- Projects Section --- */

#projects {
  width: 100%;
  padding: 80px 0 0 0;
  background-image: linear-gradient(#e2be8f, #cbab81);
  display: flex;
  justify-content: center;
  margin-top: 0;
}

#projects h2 {
  border-bottom: 3.5px #fff8ed;
  margin: 0 0 20px 0;
}

#projects .content-wrapper {
  width: 90%;
}

.project-content-wrapper {
  padding: 50px 0 25px 0;
  border-top: 3px dashed #a78d6b;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 40px 0;
}

.live-site {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding-bottom: 0;
  font-size: 1em;
  color: #8c6c41;
  font-weight: 900;
  width: 70%;
}

#projects a {
  border-bottom: 3px double #d6b488;
  width: 100%;
  padding: 0;
  margin: 0;
}

#projects a:hover {
  border-bottom: 3px solid #826b4d;
}

.project-img {
  width: 100%;
  margin: 0 0 11px 0;
  transform: rotate(-1.5deg);
  border: 6px solid white;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
}

#projects img:hover {
  transform: rotate(0deg);
}

#projects img:active {
  border: 6px double #fff8ed;
}

#projects h3 {
  color: white;
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 30px;
}

#projects .description {
  font-weight: 500;
  margin-bottom: 40px;
  width: 80%;
  color: #685030;
}

#projects .description span {
  font-weight: 700;
  text-transform: uppercase;
}

#projects a {
  width: 75%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

/* --- Contact Section --- */
#contact {
  background: url(../img/brown-leaves.jpg) no-repeat #fcf3e6f4;
  background-size: cover;
  background-blend-mode: soft-light;
  display: flex;
  justify-content: center;
  padding: 15px 0 100px 0;
  margin-top: 0;
  margin-bottom: 0;
}

#contact .content-wrapper {
  margin: 0;
  width: 90%;
}

#contact-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 0;
  padding: 0;
}

#contact h2 {
  margin: 80px 0 60px 0;
  width: 100%;
}

#contact h2 span {
  text-shadow: none;
}

#laptop-flowers {
  width: 55%;
  margin-bottom: 50px;
  border: 8px solid white;
  transform: rotate(7deg);
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
}

#contact-methods-wrapper {
  background: #fffaf1;
  margin: 0 auto;
  padding: 20px 25px 50px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 65%;
}

.hire,
.follow,
.meet {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

.hire,
.follow {
  margin-bottom: 50px;
}

#contact .email-info {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.hire a,
.follow a,
.meet .location {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.follow {
  width: 60%;
}

.follow .social {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
}

.follow a {
  width: 40%;
}

#contact h3 {
  text-align: center;
  margin-bottom: 15px;
  color: #c5622b;
}

#contact i {
  font-size: 3em;
  margin-top: 15px;
  margin-bottom: 0;
}

.fa-solid fa-envelope fa-xl {
  margin-top: 30px;
}

.location {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#contact .hire p {
  margin-top: 40px;
}

#contact p {
  margin: 0;
  margin-left: 15px;
  font-size: 1em;
}

/* === FOOTER STYLES === */

footer {
  background: #f6e7d1;
  margin-bottom: 0;
  padding-bottom: 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 50px;
  padding-bottom: 15px;
}

footer a:hover {
  background: #ae8d6317;
}

footer #seedling-img {
  width: 40%;
  margin-top: 5px;
  margin-bottom: 0;
}

footer span {
  font-size: 1em;
  color: #50442f;
  font-weight: 400;
  padding-top: 0;
}

footer p {
  color: #3d2018;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 0;
}

footer .copyright {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #eeddc5;
  padding: 10px 0 10px 0;
}

footer .copyright p {
  margin-bottom: 20px;
  margin-top: 25px;
  font-size: 0.75em;
  color: #50442f;
}

/* ========================= */
/* === RESPONSIVE STYLES === */
/* ========================= */

@media (min-width: 768px) {
  /* ===--- Tablet ---=== */

  body {
    font-size: 16px;
    display: flex;
    justify-content: center;
  }

  .content-wrapper {
    width: 90%;
  }

  h2 {
    font-size: 4.5em;
    width: 100%;
  }

  h3 {
    font-size: 2.5em;
  }

  p {
    font-size: 1.25em;
  }

  /* --- HEADER --- */

  header {
    padding: 0 0 175px 0;
  }

  #header-content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }

  header nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  header nav ul {
    margin: 0;
    width: 90%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  header nav ul li {
    font-size: 1.5em;
    padding: 20px 15px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .banner {
    font-size: 4rem;
    padding: 500px 0;
    margin: 10px 0 3px 0;
  }

  header .banner i {
    font-size: 2.45rem;
    margin: 25px 15px;
    padding: 8px 8px 0 8px;
  }

  #boots {
    width: 40%;
    margin: 150px 0 15px 0;
  }

  h1 {
    font-size: 4rem;
    margin-left: 15px;
  }

  /* --- MAIN --- */

  /* About */

  #about {
    padding: 160px 0 120px 0;
  }

  #intro-wrapper {
    width: 90%;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
  }

  #my-pic {
    width: 35%;
    border-width: 10px;
  }

  #about-list-wrapper {
    display: flex;
    flex-flow: column wrap;
  }

  #about h2 {
    margin: 0;
    font-size: 2em;
  }

  #about h3 {
    font-size: 1.25em;
  }

  #web-dev {
    font-size: 1.25em;
  }

  #tech-journey-wrapper {
    margin: 80px 50px;
    padding: 50px;
  }

  #tech-journey-span {
    font-size: 1.5em;
  }

  /* Skills */

  #skills {
    padding: 120px 0;
    width: 100%;
  }

  #skills .content-wrapper {
    width: 100%;
  }

  #skills-wrapper {
    margin-bottom: 75px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
  }

  #skills h2 {
    margin: 0 0 40px 30px;
    padding: 0;
    width: 90%;
  }

  #skills h3 {
    width: 100%;
    text-align: center;
  }

  #skills ul {
    flex-flow: column wrap;
    align-items: center;
    width: 90%;
    height: 550px;
  }

  #skills ul li {
    padding: 15px;
    font-size: 1.41em;
    width: 40%;
  }

  #skills #tech-stack-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
  }

  #skills #tech-stack-wrapper ul {
    height: 250px;
    align-items: center;
  }

  /* Projects */

  #projects {
    padding: 120px 0;
    width: 100%;
  }

  #projects .content-wrapper {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100%;
  }

  #projects .project-content-wrapper {
    width: 45%;
    border: none;
  }

  #projects .project {
    width: 100%;
  }

  .project .live-site {
    font-size: 1em;
    width: 68%;
  }

  .project #sticky-live {
    width: 64%;
  }

  #projects h2 {
    width: 100%;
    margin-left: 30px;
  }

  #projects img {
    margin-top: 0;
    width: 90%;
  }

  #projects #sticky-notes-img {
    width: 84%;
  }

  #repo-gallery-img {
    width: 80%;
  }

  #projects h3 {
    margin-bottom: 30px;
    font-size: 1.5em;
  }

  #projects .description {
    font-size: 1.25em;
  }

  /* Contact */

  #contact {
    padding-top: 35px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
  }

  #contact .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;
    width: 100%;
  }

  #contact-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;
    margin: 0 auto;
  }

  #contact h2 {
    margin-bottom: 100px;
    margin-left: 30px;
    width: 90%;
  }

  #laptop-flowers {
    width: 35%;
    transform: rotate(7deg);
    border-width: 10px;
  }

  #laptop-flowers:hover {
    transform: rotate(8deg);
  }

  #contact-methods-wrapper {
    display: flex;
    justify-content: center;
    width: 50%;
    height: auto;
    margin: 0;
    padding: 30px 0 45px 0;
    margin-bottom: 60px;
  }

  .hire,
  .follow,
  .meet {
    width: 50%;
    padding: 0;
    margin: 0 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #contact h3 {
    font-size: 2em;
    width: 100%;
    padding-bottom: 20px;
  }

  .follow .social {
    width: 75%;
  }

  #contact p {
    margin-top: 0;
    padding: 0;
    font-size: 1.15em;
    text-align: center;
  }

  #contact .email-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #contact i {
    margin: 0;
    padding: 0;
  }

  .hire .email-info p {
    margin-left: 0;
    padding-left: 0;
  }

  /* --- FOOTER --- */

  footer {
    margin: 0;
    padding: 0;
  }

  footer a {
    width: 20%;
    margin-top: 0;
    padding-top: 0;
  }

  footer #seedling-img {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
  }

  footer p span {
    margin: 0;
    padding: 0;
    font-size: 1.25em;
  }

  footer p {
    font-size: 1em;
    margin-top: 10px;
    padding-top: 0;
  }

  footer .copyright {
    margin-bottom: 0;
  }

  footer .copyright p {
    font-size: 1em;
  }
}

@media (min-width: 1280px) {
  /* ===--- Desktop ---=== */

  html {
    width: 90%;
    margin: 0 auto;
    background: #ae916a;
    background-size: auto;
    background-attachment: fixed;
    outline: 3px dashed #d1ad8e;
    border-left: 10px solid #a78b66;
    border-right: 10px solid #a78b66;
    font-size: 16px;
  }

  body {
    margin: 0;
  }

  #about,
  #skills,
  #projects,
  #contact {
    padding-top: 75px;
  }

  .content-wrapper {
    max-width: 90%;
  }

  h2 {
    font-size: 4.5em;
  }

  h3 {
    font-size: 2.5em;
  }

  p {
    font-size: 1.15em;
  }

  /* --- HEADER --- */

  header {
    padding-bottom: 175px;
    width: 100%;
  }

  header .content-wrapper {
    max-width: 100%;
  }

  .header-content-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  header nav {
    width: 100%;
    justify-content: flex-end;
    margin-top: 0;
    padding-top: 0;
  }

  header nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  header nav ul li {
    font-size: 1.15rem;
    display: flex;
    justify-content: flex-end;
    padding: 15px 20px 8px 20px;
  }

  header .banner {
    width: 98%;
    padding: 305px 12px;
    font-size: 4rem;
    justify-content: center;
    margin-top: 0;
  }

  header .banner i {
    margin: 25px 15px 10px 15px;
  }

  #hero-wrapper {
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 65%;
  }

  #boots {
    width: 40%;
    margin-top: 125px;
    margin-right: 50px;
    transform: rotate(3deg);
  }

  h1 {
    font-size: 3.25rem;
    line-height: 1.15em;
    margin: 100px 0 0 0;
    padding: 0;
    width: 60%;
  }

  /* --- MAIN --- */

  main {
    justify-content: center;
  }

  /* About */

  #about {
    padding: 100px 0 115px 0;
  }

  #intro-wrapper {
    justify-content: center;
  }

  #my-pic {
    width: 23%;
  }

  #about h2 {
    font-size: 2rem;
  }

  #about-list-wrapper {
    margin-left: 75px;
  }

  #web-dev {
    font-size: 1.25rem;
    font-weight: 600;
  }

  #about h3 {
    font-size: 1.15rem;
  }

  #tech-journey-wrapper {
    display: flex;
    align-items: flex-start;
    padding: 35px;
    margin-top: 35px;
  }

  #tech-journey-span {
    font-size: 1.75rem;
  }

  #tech-journey-para2 {
    text-align: left;
  }

  /* Skills */

  #skills {
    padding: 85px 0 100px 0;
    margin: 0 auto;
    height: auto;
    width: 100%;
  }

  #skills .content-wrapper {
    align-items: center;
    padding-left: 0;
    width: 100%;
  }

  #skills h2 {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
  }

  #skills h3 {
    font-size: 2rem;
  }

  #skills-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  #skills ul {
    width: 100%;
    height: 325px;
    justify-content: flex-start;
    align-items: center;
  }

  #skills ul li {
    font-size: 1.15em;
    width: 28%;
    margin-left: 0;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
  }

  #skills #tech-stack-wrapper {
    width: 68%;
  }

  #skills #tech-stack-wrapper h3 {
    align-items: center;
  }

  #skills #tech-stack-wrapper ul {
    height: 225px;
  }

  #skills #tech-stack-wrapper ul li {
    width: 42%;
  }

  /* Projects */

  #projects {
    padding: 85px 0 140px 0;
  }

  #projects .project-content-wrapper {
    width: 33%;
    padding-top: 15px;
  }

  #projects h2 {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }

  .project {
    margin: 50px 0 0 0;
  }

  .project .live-site {
    width: 78%;
    font-size: 1.05em;
    font-weight: 600;
  }

  .project #sticky-live {
    width: 74%;
  }

  #projects img {
    width: 100%;
  }

  #projects #sticky-notes-img {
    width: 93%;
  }

  #projects h3 {
    font-size: 1.3em;
    margin-bottom: 15px;
  }

  #projects .description {
    font-size: 1.1em;
  }

  /* Contact */

  #contact {
    padding: 25px 0 120px 0;
  }

  #contact h2 {
    margin-top: 60px;
    margin-bottom: 75px;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
  }

  #laptop-flowers {
    width: 25%;
  }

  #contact-methods-wrapper {
    width: 70%;
    padding: 60px 20px 60px 0;
    margin-bottom: 0;
    flex-flow: row nowrap;
    align-items: flex-start;
  }

  #contact h3 {
    margin-bottom: 20px;
    font-size: 1.75rem;
    color: #c5622b;
  }

  .follow .social {
    width: 60%;
  }

  #contact i {
    font-size: 3.15em;
  }

  #contact p {
    font-size: 1em;
  }

  /* --- FOOTER --- */

  footer {
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  footer #seedling-img {
    width: 55%;
  }

  footer p span {
    font-size: 1em;
  }

  footer .copyright p {
    font-size: 0.8em;
    padding: 0;
    margin: 10px 0;
  }
}
