/* === GLOBAL STYLES === */

html {
  font-size: 16px;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #fff8ed;
  height: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  max-width: 1200px;
  width: 90%;
}

h2 {
  font-family: "Euphoria Script", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: 3.5em;
  color: #5e9e9c;
  /*text-shadow: #49312b 0.5px 2px;*/
  text-align: left;
  margin-left: 15px;
}

h3 {
  color: #c5622b;
  font-size: 1.6em;
  font-weight: 600;
}

p {
  color: #49312b;
  font-size: 1em;
  font-weight: 400;
  text-align: left;
  line-height: 1.45em;
}

/* === HEADER STYLES === */

header {
  background: url(../img/leaves.png) repeat #77bcaff3;
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  padding-top: 30px;
  padding-bottom: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  border-bottom: 4px dashed #284f5441;
  width: 100%;
}

header .content-wrapper {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
}

#header-content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

header nav {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  padding: 0;
}

header nav ul li {
  font-size: 1.25em;
  color: #284f54;
  font-weight: 800;
}

header nav ul li a {
  text-decoration: none;
  color: #284f54;
}

header nav a:hover {
  color: #c5fffc;
}

header nav a:active {
  color: #e2c49d;
}

#hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

#boots {
  max-width: 60%;
  margin: 60px 0 20px 0;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
}

h1 {
  font-family: "Euphoria Script", cursive;
  font-weight: 800;
  font-size: 2.5em;
  line-height: 1.25em;
  color: #fffaf1;
  width: 95%;
  text-align: center;
  transform: rotate(-5deg);
  padding-top: 0;
}

h1 #leaves {
  text-shadow: none;
}

#butterworth-span {
  font-size: 0.5em;
  color: #284f5493;
  text-shadow: none;
  text-align: right;
}

/* === MAIN STYLES === */
/* --- About Section --- */

main {
  margin-top: 0;
}

#about {
  background: #fffaf1;
  padding: 80px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin-bottom: 0;
}

#about .content-wrapper {
  display: flex;
  justify-items: center;
  align-items: center;
}

#about-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#intro-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin-bottom: 55px;
}

#my-pic {
  border: 12px solid white;
  margin-bottom: 40px;
  width: 50%;
  transform: rotate(-4deg);
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
}

#my-pic:hover {
  transform: rotate(-5deg);
}

#about h2 {
  margin: 0;
  padding: 0;
  text-shadow: none;
  font-size: 1.8em;
  font-family: "quicksand", sans-serif;
  color: #c5622b;
}

#web-dev {
  color: white;
  background-color: #c3a0b1;
  font-weight: bolder;
  font-size: 1.25em;
  font-weight: 800;
  line-height: 1.6em;
}

#about h3 {
  font-size: 1.15em;
  color: #c3a0b1;
  font-weight: 500;
  line-height: 1.45em;
  margin-top: 20px;
}

#tech-journey-wrapper {
  border: 3px dashed #efcdb2;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 0 25px;
}

#tech-journey-para2 {
  margin-top: 0;
}

#tech-journey-span {
  color: #c5622b;
  font-size: 1.5em;
  font-weight: 600;
}

#growth-mindset-span:hover {
  background-color: #dcef9e;
  font-weight: 400;
}

/* --- Skills Section --- */

#skills {
  background: url(../img/light-texture.jpg) repeat #f3cdb5;
  background-size: cover;
  background-blend-mode: soft-light;
  margin-bottom: 0;
  padding: 70px 0 60px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

#skills .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  width: 100%;
}

#skills h2 {
  margin: 0 0 40px 20px;
  color:#489098;
}

#skills-wrapper,
#tech-stack-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
}

#skills-wrapper {
  margin-bottom: 20px;
}

#skills ul {
  font-size: 0.95em;
  font-weight: 600;
  padding: 15px 0;
  width: 60%;
  color: #c5622b;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

#skills ul li {
  background-color: #fffaf1;
  margin-bottom: 20px;
  width: 100%;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 3px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

/* --- Projects Section --- */

#projects {
  width: 100%;
  padding: 80px 0;
  background-image: linear-gradient(#e2be8f, #cbab81);
  display: flex;
  justify-content: center;
  margin-top: 0;
}

#projects h2 {
  border-bottom: 3.5px #fff8ed;
  margin: 0 0 20px 0;
  color: #489098;
}

#projects .content-wrapper {
  width: 90%;
}

.project-content-wrapper {
  padding: 50px 0 25px 0;
  border-top: 3px dashed #a78d6b;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 40px 0;
}

.live-site {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding-bottom: 0;
  font-size: 1em;
  color: #826b4d;
  font-weight: 900;
  width: 70%;
}

#projects a {
  border-bottom: 5px double #D6B488;
  width: 100%;
  padding: 0;
  margin: 0;
}

#projects a:hover {
  border-bottom: 5px solid #826b4d;
}

.project-img {
  width: 100%;
  margin: 0 0 15px 0;
  transform: rotate(-1.5deg);
  border: 8px solid white;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
}

#projects img:hover {
  transform: rotate(0deg);
}

#projects img:active {
  border: 9px double #fff8ed;
}

#projects h3 {
  color: white;
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#projects .description {
  font-weight: 500;
  margin-bottom: 40px;
  width: 90%;
}

#projects .description span {
  font-weight: 700;
  text-transform: uppercase;
}

#projects a {
  width: 75%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

/* --- Contact Section --- */
#contact {
  background: url(../img/brown-leaves.jpg) no-repeat #fcf3e6f4;
  background-size: cover;
  background-blend-mode: soft-light;
  display: flex;
  justify-content: center;
  padding: 15px 0 75px 0;
  margin-top: 0;
  margin-bottom: 0;
}

#contact .content-wrapper {
  margin: 0;
  width: 90%;
}

#contact-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 0;
  padding: 0;
}

#contact h2 {
  margin: 80px 0 60px 0;
  width: 100%;
  color:#489098;
}

#contact h2 span {
  text-shadow: none;
}

#laptop-flowers {
  width: 65%;
  margin-bottom: 50px;
  border: 12px solid white;
  transform: rotate(7deg);
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
}

#contact-methods-wrapper {
  background: #fffaf1;
  margin: 0 auto;
  padding: 20px 25px 50px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 65%;
}

.hire,
.follow,
.meet {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

.hire,
.follow {
  margin-bottom: 60px;
}

#contact .email-info {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.hire a,
.follow a,
.meet .location {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

#contact h3 {
  text-align: center;
  margin-bottom: 30px;
}

#contact i {
  font-size: 3.25em;
  margin-top: 15px;
  margin-bottom: 0;
}

.fa-solid fa-envelope fa-xl {
  margin-top: 30px;
}

.location {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#contact .hire p {
  margin-top: 40px;
}

#contact p {
  margin: 0;
  margin-left: 15px;
  font-size: 1em;
}




/* === FOOTER STYLES === */

footer {
  background: #f6e7d1;
  margin-bottom: 0;
  padding-bottom: 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

footer span {
  font-size: 1em;
  color: #94af3b;
  font-weight: 600;
  padding: 0;
}

footer a {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

footer a:hover {
  background:#ae8d6317;
}

footer #seedling-img {
  width: 40%;
  margin-top: 5px;
}

footer p {
  color: #3d2018;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 0;
}

footer .copyright {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #e7d3b77e;
  padding: 10px 0 10px 0;
}

footer .copyright p {
  margin-bottom: 20px;
  margin-top: 25px;
  font-size: .75em;
  color: #826b4d;
}

/* ========================= */
/* === RESPONSIVE STYLES === */
/* ========================= */

@media (min-width: 768px) {
  /* ===--- Tablet ---=== */

  body {
    font-size: 16px;
    display: flex;
    justify-content: center;
  }

  .content-wrapper {
    width: 90%;
  }

  h2 {
    font-size: 4.5em;
    width: 100%;
  }

  h3 {
    font-size: 2.5em;
  }

  p {
    font-size: 1.25em;
  }

  /* --- HEADER --- */

  header {
    padding: 0 0 80px 0;
  }

  #header-content-wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }

  header nav {
    width: 65%;
    display: flex;
    justify-content: center;
  }

  header nav ul {
    margin: 80px 0;
    width: 90%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  header nav ul li {
    font-size: 1.5em;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #boots {
    width: 50%;
    margin: 20px 0;
  }

  h1 {
    font-size: 4em;
    margin-left: 15px;
  }

  /* --- MAIN --- */

  /* About */

  #about {
    padding: 160px 0 120px 0;
  }

  #intro-wrapper {
    width: 90%;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
  }

  #my-pic {
    width: 32%;
  }

  #about-list-wrapper {
    display: flex;
    flex-flow: column wrap;
  }

  #about h2 {
    margin: 0;
    font-size: 2em;
  }

  #about h3 {
    font-size: 1.25em;
  }

  #tech-journey-wrapper {
    margin: 80px 50px;
    padding: 50px;
  }

  #tech-journey-span {
    font-size: 1.5em;
  }

  /* Skills */

  #skills {
    padding: 120px 0;
    width: 100%;
  }

  #skills .content-wrapper {
    width: 100%;
  }

  #skills-wrapper {
    margin-bottom: 75px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
  }

  #skills h2 {
    margin: 0 0 40px 30px;
    padding: 0;
    width: 90%;
  }

  #skills h3 {
    width: 100%;
    text-align: center;
  }

  #skills ul {
    flex-flow: column wrap;
    align-items: center;
    width: 90%;
    height: 615px;
  }

  #tech-stack-wrapper ul {
    padding: 35px 0;
  }

  #skills ul li {
    padding: 15px;
    font-size: 1.41em;
    width: 40%;
  }

  #skills #tech-stack-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
  }

  #skills #tech-stack-wrapper ul {
    height: 250px;
    align-items: center;
  }

  /* Projects */

  #projects {
    padding: 120px 0;
    width: 100%;
  }

  #projects .content-wrapper {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100%;
  }

  #projects .project-content-wrapper {
    width: 45%;
    border: none;
  }

  #projects .project {
    width: 100%;
  }

  .project .live-site {
    font-size: 1em;
    width: 68%;
  }

  .project #sticky-live {
    width: 64%;
  }

  #projects h2 {
    width: 100%;
    margin-left: 30px;
  }

  #projects img {
    margin-top: 0;
    width: 90%;
  }

  #projects #sticky-notes-img {
    width: 84%;
  }

  #repo-gallery-img {
    width: 80%;
  }

  #projects h3 {
    margin-bottom: 30px;
    font-size: 1.5em;
  }

  #projects .description {
    font-size: 1.25em;
  }

  /* Contact */

  #contact {
    padding-top: 35px;
    padding-bottom: 150px; 
    display: flex;
    justify-content: center;
  }

  #contact .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;
    width: 100%;
  }

  #contact-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;
    margin: 0 auto;
  }

  #contact h2 {
    margin-bottom: 100px;
    margin-left: 30px;
    width: 90%;
  }

  #laptop-flowers {
    width: 35%;
    transform: rotate(7deg);
  }

  #laptop-flowers:hover {
    transform: rotate(8deg);
  }

  #contact-methods-wrapper {
    display: flex;
    justify-content: center;
    width: 40%;
    height: auto;
    margin: 0;
    padding: 20px 0 45px 0;
    margin-bottom: 60px;
  }

  .hire,
  .follow,
  .meet {
    width: 50%;
    padding: 0;
    margin: 0 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #contact h3 {
    font-size: 2em;
    width: 100%;
    padding-bottom: 20px;
  }

  #contact p {
    margin-top: 0;;
    padding: 0;
    font-size: 1.15em;
    text-align: center;
  }

  #contact .email-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #contact i {
    margin: 0;
    padding: 0;
  }

  .hire .email-info p {
    margin-left: 0;
    padding-left: 0;
  }

  /* --- FOOTER --- */

  footer {
    margin: 0;
    padding: 0;
  }

  footer a {
    width: 20%;
    margin-top: 0;
    padding-top: 0;
  }

  footer #seedling-img {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
  }

  footer p span {
    margin: 0;
    padding: 0;
    font-size: 1.25em;
  }

  footer p {
    font-size: 1em;
    margin-top: 10px;
    padding-top: 0;
  }

  footer .copyright {
    margin-bottom: 0;
  }

  footer .copyright p {
    font-size: 1em;
  }
}

@media (min-width: 1280px) {
  /* ===--- Desktop ---=== */

  html {
    width: 85%;
    margin: 0 auto;
    background: #ae916a;
    background-size: auto;
    background-attachment: fixed;
    outline: 5px dashed #d1ad8e;
    border-left: 15px solid #a78b66;
    border-right: 15px solid #a78b66;
    font-size: 16px;
  }

  body {
    margin: 0;
  }

  .content-wrapper {
    max-width: 90%;
  }

  h2 {
    font-size: 6em;
  }

  h3 {
    font-size: 2.75em;
  }

  p {
    font-size: 1.5em;
  }

  /* --- HEADER --- */

  header {
    padding-bottom: 200px;
    width: 100%;
  }

  header .content-wrapper {
    width: 100%;
  }

  .header-content-wrapper {
    width: 100%;
  }

  header nav {
    width: 100%;
    justify-content: flex-end;
  }

  header nav ul {
    width: 100%;
    justify-content: flex-end;
    margin: 50px 0 100px 0;
  }

  header nav ul li {
    font-size: 1.75em;
  }

  #hero-wrapper {
    flex-flow: row nowrap;
  }

  #boots {
    width: 35%;
  }

  h1 {
    font-size: 4.75em;
    margin-left: 20px;
    padding: 0;
    width: 60%;
  }

  /* --- MAIN --- */

  main {
    justify-content: center;
  }

  /* About */

  #about {
    padding: 145px 0 140px 0;
  }

  #intro-wrapper {
    justify-content: center;
  }

  #my-pic {
    width: 25%;
  }

  #about h2 {
    font-size: 2.5em;
  }

  #about-list-wrapper {
    margin-left: 75px;
  }

  #about h3 {
    font-size: 1.5em;
  }

  #tech-journey-wrapper {
    display: flex;
    align-items: flex-start;
  }

  #tech-journey-para2 {
    text-align: left;
  }

  /* Skills */

  #skills {
    padding: 140px 0 140px 0;
    margin: 0 auto;
    height: auto;
    width: 100%;
  }

  #skills .content-wrapper {
    align-items: center;
    padding-left: 0;
    width: 100%;
  }

  #skills h2 {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
  }

  #skills-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  #skills ul {
    width: 100%;
    height: 450px;
    justify-content: flex-start;
    align-items: center;
  }

  #skills ul li {
    font-size: 1.5em;
    width: 28%;
    margin-left: 0;
    justify-content: space-around;
    align-items: center;
  }

  #skills #tech-stack-wrapper {
    width: 68%;
  }

  #skills #tech-stack-wrapper h3 {
    margin-bottom: 25px;
    align-items: center;
  }

  #skills #tech-stack-wrapper ul li {
    width: 42%;
  }

  /* Projects */

  #projects {
    padding: 140px 0 140px 0;
  }

  #projects .project-content-wrapper {
    width: 33%;
  }

  #projects h2 {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }

  .project {
    margin: 70px 0;
  }

  .project .live-site {
    width: 78%;
    font-size: 1.5em;
    font-weight: 900;
  }

  .project #sticky-live {
    width: 74%;
  }

  #projects img {
    width: 100%;
  }

  #projects #sticky-notes-img {
    width: 93%;
  }

  #projects h3 {
    font-size: 1.75em;
  }

  #projects .description {
    font-size: 1.5em;
  }

  /* Contact */

  #contact {
    padding: 50px 0 250px 0;
  }

  #contact h2 {
    margin-bottom: 120px;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
  }

  #laptop-flowers {
    width: 23%;
  }

  #contact-methods-wrapper {
    width: 70%;
    padding: 80px 0;
    margin-bottom: 0;
    flex-flow: row nowrap;
    align-items: flex-start;
  }

  #contact h3 {
    margin-bottom: 50px;
  }

  #contact i {
    font-size: 4.5em;
  }

  #contact p {
    font-size: 1.25em;
  }

  /* --- FOOTER --- */

  footer {
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  footer #seedling-img {
    width: 55%;
  }

  footer span {
    font-size: 1.25em;
  }

  footer p {
    font-size: 1.15em;
  }
}
